@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<body class="">
    <div id="drop-layer"></div>
                <div id="cta-container-placeholder"></div>
<div id="topbar">
    <div class="header-center">
        <a href="" class="" data-jafo="">
            <div class=""></div>
        </a>

        <span class="topbar-icon ">
            <div class="link-menu">
                <ul>
                    <li><a href="" class=""</a></li>
                </ul>
                <div class="clear"></div>
                <div class="dropdown-footer hamburger-menu">
                    <div class="terms-footer">
                        <a href=""  </a>
                        <a class="small-margin-top" href=""</a>
                    </div>
                </div>
            </div>
        </span>
        
        <span class="upload-button-container">
            <div id="createDropdown" class="options">
                <ul>
                    <li class="item"><a href="" class="upload-subitem">Upload Images</a></li>
                </ul>
            </div>
            <a class="upload-button" href="">
                <span class="icon-upload"></span>
                <span class="upload-btn-text">New post</span>
                <span id="create-dropdown-button" class="selection icon icon-arrow-down"></span>
            </a>
        </span>          
            </ul>
        </div> <!-- #sub-nav -->
    </div> <!-- .header-center -->
</div> <!-- #topbar -->
